body{
     background-color: #03081a;
     color: #0a1128;
     font-family: 'Segoe Ui', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     height: 100%;
     margin: 0;
     padding: 0;

}
.open-box{
    text-align: center;
    background-color: rgb(96, 11, 233);
    border: 2px solid rgba(255, 255, 255, .2);
width: 420px;
align-items: center;
justify-self: center;
border-style: solid;
border-radius: 10px;
backdrop-filter: blur(20px);
background: transparent;
box-shadow: 0 0 10px rgba(255, 255, 255, .2);
box-sizing: border-box;
}
 i{
justify-self: right;

}
@media screen {
    
    
}
p {
    text-align: center;
}

.input-box input{
    color: rgb(red, green, blue);
    font-size: 16px;
    width: 350px;
    height: 35px;
    border: 5px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    margin: 15px 0;
    box-sizing: border-box;
    padding: 20px;
    backdrop-filter: blur(20px);
    background: transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    border-width: 2px;

}
.input-box label{
    font-size: 25px;
    text-align: right;
    letter-spacing: 2px;
    color: azure;
}

button{
   
    color: rgb(249, 249, 252);
    width: 350px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 50px 0;
    border: none;
    background-color: #9d4edd;
    color: white;
box-shadow: 0 0 10px rgba(157, 78, 221, 0.5);
     cursor: pointer;
}
.input-box i{

}
::placeholder{
    color: aliceblue;
    resize: none;
}
h1{
      font-family: 'Segoe UI',sans-serif;
    font-size: 2rem ;
    font-weight: bold;
    text-align: left;

    color: #f4f7fa;
    line-height: 1.5;
    align-items: center;
}